
@import "../../style/colors.scss";


@mixin get-circlet($size, $svgWidth: null, $svgHeight: $svgWidth) {
  width: #{$size}px;
  height: #{$size}px;

  svg {
    width: #{$svgWidth}px;
    height: #{$svgHeight}px;
  }
}

.root {
  display: flex;
  flex-wrap: wrap;
}

.circlet {
  position: absolute;
  border-style: solid;
  border-radius: 50%;
  background: transparent;
  border-width: 2px;
  display: block;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  svg {
    fill: $white;
  }

  .circlet {
    &:nth-child(1) {
      width: 100%;
      height: 100%;
      border-color: $c1;
      top: -5px;
      left: -5px;
    }

    &:nth-child(2) {
      width: 100%;
      height: 100%;
      border-color: $c2;
      top: -5px;
      left: 5px;
    }

    &:nth-child(3) {
      width: 100%;
      height: 100%;
      border-color: $c3;
      top: 5px;
      left: -5px;
    }

    &:nth-child(4) {
      width: 100%;
      height: 100%;
      border-color: $c4;
      top: 5px;
      left: 5px;
    }
  }
}

.tiny {
  @include get-circlet(100);
}

.small {
  @include get-circlet(140, 50);
}

.medium {
  @include get-circlet(170, 62);
}

.big {
  @include get-circlet(220, 82);
}

.huge {
  @include get-circlet(252, 82);
}